<div class="container">
    <section id="login-view" data-ng-controller="LoginController as vm">
        <br />
        <button class="btn btn-primary" data-ng-click="vm.loginWithMicrosoft()">Login with Microsoft</button>
        <button class="btn btn-primary" data-ng-click="vm.loginWithGoogle()">Login with Google</button>
        <br />
        <br />
        <div class="col-lg-10">
            <h2>About</h2>
            Inspired by the cash flow forecast feature in Microsoft Money,
            this application helps you pay your bills on time and tells you if your cash on hand will increase or decrease over time.
            <br />
            <br />
            <h4>Tell it about your budget by entering your recurring transactions...</h4>
            <br />
            <img src="Content/images/ScheduledPayments.png" />
            <br />
            <br />
            <h4>and it will tell you when things are due next...</h4>
            <br />
            <img src="Content/images/UpcomingPayments.png" />
            <br />
            <br />
            <h4>and whether your budget will lead to a rising balance or a falling one.</h4>
            <br />
            <img src="Content/images/CashFlowGraph.png" />
        </div>
    </section>
</div>