<div class="view">
    <div class="container">
        <header>
            <h3>About</h3>
        </header>
        <br />
        <div class="row">
            <div class="span2">Created by:</div>
            <div class="span9"><a href="http://twitter.com/JamesPMcLachlan" target="_blank">James McLachlan</a></div>
        </div>
        <br />
        <div class="row">
            <div class="span2">Blog:</div>
            <div class="span9"><a href="http://jamesmclachlan.blogspot.ca" target="_blank">jamesmclachlan.blogspot.ca</a></div>
        </div>
        <br />
    </div>
</div>


